/* **************DEFUALT CSS ************** */
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
input,button:focus{
  outline: none;
}
.main-width{
  max-width: 900px;
  margin: auto;
}
h1,h2,h3,h4,h5,h6,P,span{
  margin: 0 !important;
  padding: 0 !important;
}
.color{
  background-color: #E9ECEF;
}
/* **************DEFUALT CSS END************** */
/* **************header area start here************** */
.header-area{
  background-color: #E3F2FD;
}
.header-area img {
  height: 46px;
}

.header-area ul li a{
  cursor: pointer !important;
}

/* **************header area END here************** */
/* **************Breadcrumb area START here************** */
.Breadcrumb-area ol{
  background-color: #E9ECEF;
  
}
.Breadcrumb-area {
  margin: 33px 0 0;
}

/* **************Breadcrumb area end here************** */
/* **************banner area start here************** */
.banner-area img{
  height: 460px;
}
/* **************banner area END here************** */  
/* **************alert area start here ************** */  
.aleart-area {
  margin: 32px 0 45px;
}
.alert-design {
  padding: 12px 16px !important;
}
.alert-design h4 {
  font-size: 16px;
  font-weight: 500;
}
.alert-design p {
  font-size: 12px;
}
/* **************alert area END here ************** */  
/* **************progress area area start here************** */  
.progress-area .progress {
  margin-bottom: 6px;
  height: 13px !important;
}


.accordion-button::after {
  display: none;
}
.accordion-area button{
  width: fit-content;
  background-color: transparent !important;
  box-shadow: none !important;
  
}
.accordion-area h2{
  border-bottom: 1px solid #ddd;
}
.accordion-area button a {
  text-decoration: none;
  color: #007BFF !important;
  font-weight: 500;
  font-size: 14px;
}
.accordion-area button a:hover{
  text-decoration: underline;
}
/* **************progress area area END here************** */  
/* **************Live demo area start here************** */  
.demo-item button {
  font-size: 12px;
}
.btn-size {
  font-size: 12px;
}
/* **************Live demo area end here************** */  
/* **************Live demo area end here************** */  
.section-6 {
  padding: 19px 0 20px;
}
.height{
  height: 225px;
  overflow: 0;
}
/* **************Live demo area end here************** */  

.progress-items .progress{
  margin-bottom: 10px;
}
.footer {
  padding: 13px;
}
